
@using ShoppingCart_Team7B.Models;

@{
    ViewBag.Title = "ListProducts";
    List<Product> productList = (List<Product>)ViewData["productList"];
}

<div class="container">
    <nav class="navbar navbar-default" style="margin-bottom: 0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">View Products</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">My Purchases</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
                <li><a href="~/User/Logout"><span class="glyphicon glyphicon-log-out"></span>Logout </a></li>
            </ul>
        </div>
    </nav>
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">
                    @{
                        int numRows = ((int)productList.Count / 3) + 1;
                        int lastRowItemCount = productList.Count % 3;
                        int i, j, numCols;
                    }
                    <table>
                        <tbody>
                            @for (i = 0; i < numRows; i++)
                            {
                                <tr>
                                    @if (i == numRows - 1) { numCols = lastRowItemCount; }
                                    else { numCols = 3; }
                                    @for (j = 0; j < numCols; j++)
                                    {
                                        <td width="33%" style="border: 1px solid #ccc; border-radius: 5px;">
                                            <table>
                                                <tr><td class="text-center"><img width="60%" src="~/Images/productLogo.jpg" /></td></tr>
                                                <tr><td class="text-center"><label>@productList[i * 3 + j].ProductName</label></td></tr>
                                                <tr><td style="padding: 10px;">@productList[i * 3 + j].Description</td></tr>
                                                <tr>
                                                    <td class="text-center" style="padding: 10px;">
                                                        <button class="btn btn-success" onclick="addToCart(@productList[i*3+j].ProductId);">$@productList[i * 3 + j].Price - Add To Cart</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>


