
@using ShoppingCart_Team7B.Database
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<span style="color:@Request.Cookies["Color"].Value.ToString();font-size:20px;">
    You Entered:
    <br />
    Username:<b>@Request.Cookies["Username"].Value.ToString()</b><br />
    Password:<b>@Request.Cookies["Password"].Value.ToString()</b><br />
</span>

